<div class="card1">
  <div style="text-align: center;">
    <h1 style="color: aliceblue;">User Story List</h1>
  </div>
  <div class="dashboard">
    <div class="container justify-content-end" style="padding-bottom: 10px;">
      <button type="button" class="btn btn-danger" (click)="deleteAll()">Delete All</button>
    </div>
    <table class="table table-striped table-dark" *ngIf="data.length">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Story</th>
          <th scope="col">Points</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.story}}</td>
          <td>{{item.points}}</td>
          <td>{{item.created_at| date:'MM-dd-y, h:mm a'}}</td>
        </tr>
      </tbody>
    </table>

    <div style="align-items: center; color: aliceblue;" *ngIf="!data.length">
      <img src="../../../assets/images/no-data-found.png" width="600px" height="300px">
    </div>
  </div>

</div>